{
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": false,
  "printWidth": 80,
  "jsxBracketSameLine": false,
  "arrowParens": "avoid",
  "formatOnSave": true,
  "quoteProps": "preserve"
}
